
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    padding-top: 20px;
    background: linear-gradient(135deg, #B3E5FC, #FFECB3, #FFFFFF);
}
